In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from utils.ml_utils import read_one_df, read_all_df, clean_data, transform_tohourdata, transform_todailydata

In [2]:
# load data
def load_data():
    data = read_one_df()
    data = clean_data(data)
    data = transform_todailydata(data)
    data.drop(columns=['Yt_avg',	'Rs_avg',	'Rbt_avg',	'Rm_avg'], inplace=True)
    return data

data = load_data()

In [6]:
data.to_csv('../data/datadaily/data_daily0.csv', index_label='Date_time_nr')

In [7]:
data = pd.read_csv('../data/datadaily/data_daily0.csv', index_col='Date_time_nr')

In [8]:
data

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,P_avg
Date_time_nr,,,,,,,,
1356998400,5.314167,1012.458333,88.083333,5.037083,212.500000,0.332917,0.000000,782.613541
1357084800,2.317500,1027.291667,93.625000,3.236250,222.500000,0.000000,0.000000,160.549097
1357171200,4.582500,1037.041667,95.166667,5.037083,209.583333,0.041667,0.000000,396.093055
1357257600,7.101250,1037.791667,97.666667,2.915417,246.250000,0.000000,0.000000,117.150973
1357344000,5.635000,1034.791667,94.166667,2.014167,232.083333,0.000000,0.000000,62.375833
...,...,...,...,...,...,...,...,...
1514332800,4.732500,988.875000,89.375000,7.052500,210.416667,0.290000,0.000000,1092.846736
1514419200,1.176667,1004.333333,88.500000,4.544583,252.083333,0.000000,0.000000,421.928542
1514505600,2.014583,1008.083333,88.500000,6.686250,202.083333,0.009583,0.034167,854.138889
1514592000,9.525833,1008.416667,93.208333,7.674167,216.250000,0.520417,0.000000,1435.234931
1514678400,11.277500,1009.875000,79.833333,8.188333,207.916667,0.102083,0.000000,1411.804653