In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from utils.ml_utils import read_one_df, read_all_df, clean_data, transform_tohourdata, transform_todailydata

In [2]:
# load data
def load_data():
    data = read_one_df()
    data =  clean_data(data)
    data = transform_todailydata(data)
    data.drop(columns=['Yt_avg',	'Rs_avg',	'Rbt_avg',	'Rm_avg'], inplace=True)
    return data

data = load_data()

In [3]:
data.head()

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,P_avg
1356998400,5.314167,1012.458333,88.083333,5.037083,212.500000,0.332917,0.0,782.613541
1357084800,2.317500,1027.291667,93.625000,3.236250,222.500000,0.000000,0.0,160.549097
1357171200,4.582500,1037.041667,95.166667,5.037083,209.583333,0.041667,0.0,396.093055
1357257600,7.101250,1037.791667,97.666667,2.915417,246.250000,0.000000,0.0,117.150973
1357344000,5.635000,1034.791667,94.166667,2.014167,232.083333,0.000000,0.0,62.375833

In [4]:
data_wht = data.drop(columns=['P_avg'])

In [5]:
data_wht.head()

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h
1356998400,5.314167,1012.458333,88.083333,5.037083,212.500000,0.332917,0.0
1357084800,2.317500,1027.291667,93.625000,3.236250,222.500000,0.000000,0.0
1357171200,4.582500,1037.041667,95.166667,5.037083,209.583333,0.041667,0.0
1357257600,7.101250,1037.791667,97.666667,2.915417,246.250000,0.000000,0.0
1357344000,5.635000,1034.791667,94.166667,2.014167,232.083333,0.000000,0.0

In [6]:
data_wht_1 = data_wht.head(10)
data_wht_1

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h
1356998400,5.314167,1012.458333,88.083333,5.037083,212.500000,0.332917,0.0
1357084800,2.317500,1027.291667,93.625000,3.236250,222.500000,0.000000,0.0
1357171200,4.582500,1037.041667,95.166667,5.037083,209.583333,0.041667,0.0
1357257600,7.101250,1037.791667,97.666667,2.915417,246.250000,0.000000,0.0
1357344000,5.635000,1034.791667,94.166667,2.014167,232.083333,0.000000,0.0
1357430400,4.981667,1031.916667,95.750000,1.977083,238.125000,0.000000,0.0
1357516800,3.979583,1028.458333,92.791667,1.542500,104.000000,0.000000,0.0
1357603200,2.141667,1027.875000,96.500000,1.927917,167.916667,0.000000,0.0
1357689600,0.994167,1022.791667,96.916667,2.427083,196.666667,0.017917,0.0
1357776000,2.890417,1016.583333,96.500000,4.071250,222.916667,0.056250,0.0

In [7]:
data_wht_2 = data_wht.head(90)
data_wht_2

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h
1356998400,5.314167,1012.458333,88.083333,5.037083,212.500000,0.332917,0.0
1357084800,2.317500,1027.291667,93.625000,3.236250,222.500000,0.000000,0.0
1357171200,4.582500,1037.041667,95.166667,5.037083,209.583333,0.041667,0.0
1357257600,7.101250,1037.791667,97.666667,2.915417,246.250000,0.000000,0.0
1357344000,5.635000,1034.791667,94.166667,2.014167,232.083333,0.000000,0.0
...,...,...,...,...,...,...,...
1364342400,0.306250,1006.541667,71.166667,2.478333,58.541667,0.000000,0.0
1364428800,1.841250,1007.125000,69.083333,2.350417,162.000000,0.000000,0.0
1364515200,1.736667,1006.750000,70.666667,1.792083,94.125000,0.000000,0.0
1364601600,3.337917,1004.041667,65.583333,3.238333,79.291667,0.000000,0.0
1364688000,1.062917,1008.875000,66.000000,2.550417,119.583333,0.000000,0.0

In [9]:
data_wht_3 = data_wht.iloc[91:182]
data_wht_3

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h
1364860800,3.165833,1005.916667,57.125000,4.950833,57.500000,0.000000,0.0
1364947200,4.181250,1008.083333,64.500000,4.500833,80.833333,0.000000,0.0
1365033600,5.640417,1003.541667,57.291667,5.485833,63.750000,0.000000,0.0
1365120000,4.136250,1006.708333,68.250000,4.287500,43.750000,0.000000,0.0
1365206400,3.630833,1016.541667,72.541667,3.880417,16.250000,0.000000,0.0
...,...,...,...,...,...,...,...
1372291200,13.242083,1024.333333,74.333333,3.342917,267.083333,0.040833,0.0
1372377600,13.584167,1022.666667,77.708333,3.022917,207.916667,0.048333,0.0
1372464000,14.886250,1022.750000,87.250000,3.647500,273.250000,0.387500,0.0
1372550400,15.687083,1023.583333,78.000000,1.697083,224.083333,0.000000,0.0
1372636800,18.482083,1018.333333,67.166667,1.523333,177.750000,0.000000,0.0

In [21]:
data_wht_4 = data_wht.iloc[366:731]
data_wht_4.describe()

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h
count,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000,365.000000
mean,11.604970,1015.190221,79.417199,3.374347,167.818874,0.084424,0.000538
std,5.806079,7.115187,12.964406,1.553131,59.536900,0.180968,0.010272
min,-3.871250,993.666667,44.583333,1.172083,22.916667,0.000000,0.000000
25%,6.645417,1011.000000,70.958333,2.230417,124.375000,0.000000,0.000000
50%,11.830833,1015.375000,81.166667,2.987500,173.333333,0.000000,0.000000
75%,16.100000,1019.416667,89.500000,4.052500,212.083333,0.087917,0.000000
max,25.517500,1037.291667,100.000000,9.688750,304.166667,1.822500,0.196250

In [22]:
data_wht_1.to_json(path_or_buf='../data/json/jdata1.json', index=True, orient='split')

In [23]:
data_wht_2.to_json(path_or_buf='../data/json/jdata2.json', index=True, orient='split')

In [24]:
data_wht_3.to_json(path_or_buf='../data/json/jdata3.json', index=True, orient='split')

In [25]:
data_wht_4.to_json(path_or_buf='../data/json/jdata4.json', index=True, orient='split')

In [31]:
def read_one_json():
    data = pd.read_json('../data/json/jdata1.json', orient='split')
    return data

def read_all_json():
    data_dic = {i:  pd.read_json(f'../data/json/jdata{i}.json', orient='split')  for i in range(1,5)}
    
    return data_dic

In [29]:
data1 = read_one_json()

In [33]:
data_dic = read_all_json()

In [34]:
data_dic[2]

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h
2013-01-01,5.314167,1012.458333,88.083333,5.037083,212.500000,0.332917,0.0
2013-01-02,2.317500,1027.291667,93.625000,3.236250,222.500000,0.000000,0.0
2013-01-03,4.582500,1037.041667,95.166667,5.037083,209.583333,0.041667,0.0
2013-01-04,7.101250,1037.791667,97.666667,2.915417,246.250000,0.000000,0.0
2013-01-05,5.635000,1034.791667,94.166667,2.014167,232.083333,0.000000,0.0
...,...,...,...,...,...,...,...
2013-03-27,0.306250,1006.541667,71.166667,2.478333,58.541667,0.000000,0.0
2013-03-28,1.841250,1007.125000,69.083333,2.350417,162.000000,0.000000,0.0
2013-03-29,1.736667,1006.750000,70.666667,1.792083,94.125000,0.000000,0.0
2013-03-30,3.337917,1004.041667,65.583333,3.238333,79.291667,0.000000,0.0
2013-03-31,1.062917,1008.875000,66.000000,2.550417,119.583333,0.000000,0.0