In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from utils.ml_utils import read_one_df, read_all_df, clean_data, transform_tohourdata, transform_todailydata

In [2]:
# load data
def load_data():
    data = read_one_df()
    data =  clean_data(data)
    data = transform_todailydata(data)
    data.drop(columns=['Yt_avg',	'Rs_avg',	'Rbt_avg',	'Rm_avg'], inplace=True)
    return data

data = load_data()

In [3]:
data.head()

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,P_avg
1356998400,5.314167,1012.458333,88.083333,5.037083,212.500000,0.332917,0.0,782.613541
1357084800,2.317500,1027.291667,93.625000,3.236250,222.500000,0.000000,0.0,160.549097
1357171200,4.582500,1037.041667,95.166667,5.037083,209.583333,0.041667,0.0,396.093055
1357257600,7.101250,1037.791667,97.666667,2.915417,246.250000,0.000000,0.0,117.150973
1357344000,5.635000,1034.791667,94.166667,2.014167,232.083333,0.000000,0.0,62.375833

In [4]:
#data_wht = data.drop(columns=['P_avg'])
data_wht = data

In [6]:
data_wht.shape

(1826, 8)

In [5]:
data_wht.head()

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,P_avg
1356998400,5.314167,1012.458333,88.083333,5.037083,212.500000,0.332917,0.0,782.613541
1357084800,2.317500,1027.291667,93.625000,3.236250,222.500000,0.000000,0.0,160.549097
1357171200,4.582500,1037.041667,95.166667,5.037083,209.583333,0.041667,0.0,396.093055
1357257600,7.101250,1037.791667,97.666667,2.915417,246.250000,0.000000,0.0,117.150973
1357344000,5.635000,1034.791667,94.166667,2.014167,232.083333,0.000000,0.0,62.375833

In [7]:
data_wht_1 = data_wht[1461:]
data_wht_1.head()

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,P_avg
1483228800,-2.175833,1022.666667,99.416667,2.250000,206.250000,0.000000,0.000000,82.372778
1483315200,-0.355000,1023.583333,100.000000,2.443333,238.333333,0.000000,0.028333,-0.761458
1483401600,-1.379583,1027.500000,98.833333,2.591250,213.500000,0.000000,0.000000,-3.422986
1483488000,0.083333,1022.041667,100.000000,5.444583,277.916667,0.020833,0.009167,-4.777014
1483574400,-0.537083,1029.708333,87.916667,3.065417,168.750000,0.000000,0.000000,-5.425347

In [8]:
data_wht_2 = data_wht[1461 : 1461 + 90 ]
data_wht_2

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,P_avg
1483228800,-2.175833,1022.666667,99.416667,2.250000,206.250000,0.000000,0.000000,82.372778
1483315200,-0.355000,1023.583333,100.000000,2.443333,238.333333,0.000000,0.028333,-0.761458
1483401600,-1.379583,1027.500000,98.833333,2.591250,213.500000,0.000000,0.000000,-3.422986
1483488000,0.083333,1022.041667,100.000000,5.444583,277.916667,0.020833,0.009167,-4.777014
1483574400,-0.537083,1029.708333,87.916667,3.065417,168.750000,0.000000,0.000000,-5.425347
...,...,...,...,...,...,...,...,...
1490572800,11.147500,1020.416667,59.500000,3.224167,124.083333,0.000000,0.000000,191.958958
1490659200,12.142917,1024.291667,66.625000,3.130417,202.083333,0.000000,0.000000,238.062431
1490745600,11.854167,1027.083333,64.791667,2.259167,200.791667,0.000000,0.000000,66.877639
1490832000,14.252917,1023.083333,60.916667,2.808333,100.958333,0.000000,0.000000,214.218262
1490918400,14.741250,1016.333333,51.916667,4.866250,216.666667,0.000000,0.000000,365.830486

In [9]:
data_wht_3 = data_wht.iloc[1461 + 90 : 1461 + 180]
data_wht_3

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,P_avg
1491004800,9.778333,1014.166667,82.708333,3.049583,180.875000,0.035417,0.0,50.372639
1491091200,10.350833,1020.083333,69.083333,2.700000,192.333333,0.000000,0.0,256.827638
1491177600,11.919167,1023.666667,61.500000,2.233750,189.791667,0.000000,0.0,256.510279
1491264000,11.251250,1022.708333,62.500000,2.343750,229.958333,0.000000,0.0,227.258819
1491350400,10.386667,1024.041667,66.916667,3.181250,285.750000,0.000000,0.0,338.100070
...,...,...,...,...,...,...,...,...
1498348800,20.040833,1016.375000,59.500000,4.929167,225.833333,0.000000,0.0,426.468056
1498435200,21.645833,1011.916667,60.166667,2.276528,89.902778,0.020833,0.0,58.622986
1498521600,20.763333,1005.750000,78.208333,3.071250,161.291667,0.087083,0.0,138.236319
1498608000,17.927500,999.916667,81.750000,4.945833,213.750000,0.087500,0.0,503.897708
1498694400,14.201250,1002.291667,82.833333,5.358333,211.250000,0.069583,0.0,498.971944

In [10]:
data_wht_4 = data_wht.iloc[1461 : 1461 + 180]
data_wht_4.describe()

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,P_avg
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,9.451378,1018.613657,75.215239,3.495390,170.826235,0.054350,0.001116,328.499143
std,7.462754,7.379377,14.210504,1.629977,68.607445,0.123022,0.007047,361.220891
min,-5.910000,996.416667,42.125000,1.191875,11.500000,0.000000,0.000000,-6.032708
25%,4.877812,1015.312500,62.833333,2.233646,104.979167,0.000000,0.000000,81.784462
50%,9.007708,1018.375000,76.687500,3.034792,182.937500,0.000000,0.000000,207.925382
75%,14.214167,1023.552083,86.458333,4.280833,226.760417,0.045208,0.000000,414.848679
max,26.560000,1037.166667,100.000000,8.530833,295.833333,0.992917,0.077083,1879.572985

In [11]:
data_wht_1.shape, data_wht_2.shape, data_wht_3.shape, data_wht_4.shape

((365, 8), (90, 8), (90, 8), (180, 8))

In [12]:
data_wht_1.to_json(path_or_buf='../data/json/jdata1.json', index=True, orient='split')

In [13]:
data_wht_2.to_json(path_or_buf='../data/json/jdata2.json', index=True, orient='split')

In [14]:
data_wht_3.to_json(path_or_buf='../data/json/jdata3.json', index=True, orient='split')

In [15]:
data_wht_4.to_json(path_or_buf='../data/json/jdata4.json', index=True, orient='split')

In [16]:
def read_one_json():
    data = pd.read_json('../data/json/jdata1.json', orient='split')
    return data

def read_all_json():
    data_dic = {i:  pd.read_json(f'../data/json/jdata{i}.json', orient='split')  for i in range(1,5)}
    
    return data_dic

In [17]:
data1 = read_one_json()

In [18]:
data_dic = read_all_json()

In [25]:
data_dic[4]

,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h,P_avg
2017-01-01,-2.175833,1022.666667,99.416667,2.250000,206.250000,0.000000,0.000000,82.372778
2017-01-02,-0.355000,1023.583333,100.000000,2.443333,238.333333,0.000000,0.028333,-0.761458
2017-01-03,-1.379583,1027.500000,98.833333,2.591250,213.500000,0.000000,0.000000,-3.422986
2017-01-04,0.083333,1022.041667,100.000000,5.444583,277.916667,0.020833,0.009167,-4.777014
2017-01-05,-0.537083,1029.708333,87.916667,3.065417,168.750000,0.000000,0.000000,-5.425347
...,...,...,...,...,...,...,...,...
2017-06-25,20.040833,1016.375000,59.500000,4.929167,225.833333,0.000000,0.000000,426.468056
2017-06-26,21.645833,1011.916667,60.166667,2.276528,89.902778,0.020833,0.000000,58.622986
2017-06-27,20.763333,1005.750000,78.208333,3.071250,161.291667,0.087083,0.000000,138.236319
2017-06-28,17.927500,999.916667,81.750000,4.945833,213.750000,0.087500,0.000000,503.897708
2017-06-29,14.201250,1002.291667,82.833333,5.358333,211.250000,0.069583,0.000000,498.971944