In [4]:
# data libraries
import numpy as np 
import pandas as pd 

# visualization libraries
import matplotlib.pyplot as plt 
import seaborn as sns
#import plotly.express as px


# custom eda utils
from utils.eda_utils import get_data_dict

In [5]:
static_information = pd.read_csv("../data/static-information.csv", delimiter=';')
data_description = pd.read_csv("../data/data_description.csv", delimiter=';')

In [5]:
static_information

,Wind_turbine_name,Wind_turbine_long_name,Manufacturer,Model,Rated power (kW),Hub height (m),Rotor diameter (m),GPS,Altitude (m),Commissioning date,Department,"Region,"
0,R80736,FRHBO_E04_80736,Senvion,MM82,2050,80,82,"48.4461,5.5925",411,2009-01-15,Meuse,Grand Est
1,R80721,FRHBO_E03_80721,Senvion,MM82,2050,80,82,"48.4497,5.5869",411,2009-01-15,Meuse,Grand Est
2,R80711,FRHBO_E01_80711,Senvion,MM82,2050,80,82,"48.4569,5.5847",411,2009-01-15,Meuse,Grand Est
3,R80790,FRHBO_E02_80790,Senvion,MM82,2050,80,82,"48.4536,5.5875",411,2009-01-15,Meuse,Grand Est

In [6]:
data_description

,Variable_name,Variable_long_name,Unit_long_name,Comment
0,Q,Reactive_power,kVAr,NaN
1,Ws,Wind_speed,m/s,Average wind speed
2,Va2,Vane_position_2,deg,Second wind vane on the nacelle
3,Git,Gearbox_inlet_temperature,deg_C,NaN
4,Ot,Outdoor_temperature,deg_C,NaN
5,Ws2,Wind_speed_2,m/s,Second anemometer on the nacelle
6,Nf,Grid_frequency,Hz,NaN
7,Nu,Grid_voltage,V,NaN
8,Dst,Generator_stator_temperature,deg_C,NaN
9,Wa_c,Absolute_wind_direction_corrected,deg,NaN
10,DCs,Generator_converter_speed,rpm,NaN
11,Yt,Nacelle_temperature,deg_C,NaN
12,Na_c,Nacelle_angle_corrected,deg,NaN
13,Ya,Nacelle_angle,deg,NaN
14,Rm,Torque,Nm,NaN
15,Gost,Gearbox_oil_sump_temperature,deg_C,NaN
16,Rs,Rotor_speed,rpm,NaN
17,Gb2t,Gearbox_bearing_2_temperature,deg_C,NaN
18,Wa,Absolute_wind_direction,deg,NaN
19,Ba,Pitch_angle,deg,NaN
20,Ds,Generator_speed,rpm,NaN
21,Va,Vane_position,deg,NaN
22,Db2t,Generator_bearing_2_temperature,deg_C,NaN
23,Cm,Converter_torque,Nm,NaN
24,Rt,Hub_temperature,deg_C,NaN
25,Ws1,Wind_speed_1,m/s,First anemometer on the nacelle
26,S,Apparent_power,kVA,Should be the square root of the sum of P squa...
27,P,Active_power,kW,NaN
28,Cosphi,Power_factor,NaN,Should equal P/S
29,Gb1t,Gearbox_bearing_1_temperature,deg_C,NaN
30,Db1t,Generator_bearing_1_temperature,deg_C,NaN
31,Va1,Vane_position_1,deg,First wind vane on the nacelle
32,Pas,Pitch_angle_setpoint,NaN,NaN
33,Rbt,Rotor_bearing_temperature,deg_C,NaN

In [7]:
data_description.iloc[[0,26,27,28]]

,Variable_name,Variable_long_name,Unit_long_name,Comment
0,Q,Reactive_power,kVAr,NaN
26,S,Apparent_power,kVA,Should be the square root of the sum of P squa...
27,P,Active_power,kW,NaN
28,Cosphi,Power_factor,NaN,Should equal P/S

In [40]:
static_information['Rated power (kW)']

0    2050
1    2050
2    2050
3    2050
Name: Rated power (kW), dtype: int64

Rated Power: 
- The maximum continuous electrical power that the wind turbine is designed to produce under ideal conditions.
- Usually expressed in kW or MW
- Given by the manufacturer
- Determined by turbine design, generator limits, and grid connection capacity
- Represents capacity at rated wind speed (e.g., 12–14 m/s)

Active Power: 
- The usable, real, or working power produced by the turbine that is fed into the grid and can do work.
- Measured in kW or MW
- Converts wind energy → rotational → electrical energy
- This is the power that counts for:
- Energy production (kWh/MWh)
- Revenue
- Performance calculations

Reactive Power:
- Power that does not produce useful work but is necessary for maintaining the voltage and magnetic fields in the electrical system.
- Measured in kVAr or MVAr
- Supports voltage control in the grid
- Does not contribute to energy generation
- Is often required by grid codes
- Can be produced or absorbed by turbines

Power Factor 
- measure of how effectively electrical power is being converted into useful work.
- Power Factor=Active Power (P)Apparent Power (S)
- Power Factor= Apparent Power (S) /Active Power (P)
- Values range:
- 1.0 (perfect) — all power is useful
- <1.0 — some power is reactive
- Lagging (consuming reactive power)
- Leading (generating reactive power)
- In wind turbines, power factor:
- Is controlled by adjusting reactive power
- Must remain within limits specified by grid operators
- Is often kept close to 1 except when voltage support is needed

Apparent power :
- np.sqrt( active^2 + reactive^2 )

# Sensor Data

In [6]:
names_list = static_information['Wind_turbine_name'].to_list()
data_dict = get_data_dict(names_list)

In [7]:
data_dict[0].head(1)

,Date_time_nr,Wind_turbine_name,Ba_avg,P_avg,Q_avg,Ya_avg,Yt_avg,Ws1_avg,Ws2_avg,Ws_avg,...,Rs_avg,Rbt_avg,Rm_avg,temp,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_1h
Date_time,,,,,,,,,,,,,,,,,,,,,
2013-01-01T00:00:00+01:00,1356994800,R80736,-1.0,801.22998,67.559998,286.0,20.129999,7.52,7.76,7.64,...,16.950001,26.049999,4298.0498,5.39,1011.0,75.0,5.66,180.0,0.0,0.0